.cardcontent {
    background-color: #E7E6F5;
    width: 100%;
    max-height: 15rem;
    
    
}

.card {
    box-shadow: 5px 5px 10px grey;
    margin-top: 2rem;
}

.Random {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}